body {
  background-color: lightblue;
  font-family: fantasy;
  font-size: 20px;
}

h1 {
  text-align: center;
  text-decoration: underline;
}


}

.column {
  float: right;
  width: 300px;
  padding: 10px;
  height: 400px;
  border: 20px color black;
  margin: 15px;

}

.dogs {
  background-color: violet;
  width: 300px;
  float: left;
}

.cats {
  background-color: purple;
  width: 300px;
  float: left;
}

.ferrets {
  background-color: indigo;
  width: 300px;
  float: left;
}

img {
  width: 200px;
  height: 200px;
}
